@model List<Candidates>


    <div class="row">
        <div class="col-6">
            <a asp-controller="Candidates" asp-action="Add" class="btn btn-success add-delete">+ Add</a>
            

        </div>
        <div class="col-6">
            <form method="Post" action="@Url.Action("Search")">
                <div class="container d-inline-flex">
                    <input type="text" name="SearchString" class="form-control srch" />
                    <button type="submit" class="btn btn-outline-warning srchbutton">Search</button>
                </div>
            </form>
        </div>
    </div>
    <div class="container-fluid mx-auto">
    <table class="table">
        <thead>
            <tr>
                
                <th scope="col">ID</th>
                <th scope="col">Full Name</th>
                <th scope="col">Job Title</th>
                <th scope="col">Company</th>
                <th scope="col">Phone</th>
                <th scope="col">Email</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (Candidates l in Model)
            {
                <tr>
                    <td>@l.Id</td>
                    <td>@l.FirstName @l.LastName</td>
                    <td>@l.JobTitle</td>
                    <td>@l.CompanyName</td>
                    <td>@l.PhoneNumber</td>
                    <td>@l.Email</td>
                    <td><a asp-controller="Candidates" asp-action="Edit" asp-route-id="@l.Id" class="btn btn-outline-warning">Edit</a></td>
                    
                    <td><a asp-controller="Candidates" asp-action="View" asp-route-id="@l.Id" class="btn btn-outline-warning">View</a></td>
                <td>
                <td>
                    <form method="post" asp-controller="Candidates" asp-action="Delete" asp-route-candidateId="@l.Id">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </td>

            </td>
                </tr>
            }
        </tbody>
    </table>
</div>

