@model CandidateWebApplication.Models.Candidates
<div class="viewcard">
<a asp-action="Index" asp-controller="Candidates" class="btn btn-outline-warning">Go Back</a>
<a href="@Model.Linkedin"><img src="~/images/linkedin.png" class="linkedin" /></a>

</div>
<div class="row">
<div class="card namecard bg-body  shadow-lg border-4 pb-2 mt-3 col-6">
    
        
   <h5 class="text-center text-warning display-5">@Model.FirstName @Model.LastName</h5>
   

  
  
    <h5 class="card-title text-center text-warning">@Model.JobTitle at @Model.CompanyName</h5>
        <ul class="list-group list-group-flush text-warning ">
            <li class="list-group-item text-warning bg-gradient"><b>Phone:</b> @Model.PhoneNumber</li>
                <li class="list-group-item text-warning bg-gradient"><b>Email:</b> @Model.Email</li>
            <li class="list-group-item text-warning bg-gradient"><b>Address:</b> @Model.Address</li>
            <li class="list-group-item text-warning bg-gradient"><b>Hourly:</b> @Model.HourlyRate</li>
            <li class="list-group-item text-warning bg-gradient"><b>Salary:</b> @Model.Salary</li>
</ul>
   
 

</div>
<div class="col-6">
        <embed src="~/resumes/@Model.ResumeFileName" class="resume" width="850" height="800" class="shadow-lg" type="application/pdf">
</div>
</div>